*:root {
    --bg: #283B42;
    --icons: #1D6A96;
}

.container {
    margin-top: 20px;
    height: 280vh;
    width: 100%;
    background-color: var(--bg);
    padding: 0 15rem;
}

.profile {
    margin-top: 200px;
}

.about {
    width: 100%;
    display: flex;
    background-color: #063d52;
    padding: 12px;
}

.about1 {
    width: 50%;

}

.about2 {
    margin-left: 50px;
}

.about h1 {
    margin-top: 22px;
    margin-top: 20px;
    padding: 12px;
    font-size: 23px;
    color: var(--icons);
}

.about i:hover {
    color: var(--icons);
}

.about p {
    padding: 12px;
    font-size: 12px;
    line-height: 32px;
}

.about .about-log {
    padding: 12px;
}

.about .about-log i {
    padding: 12px;
}

.about .act {
    display: flex;
}

.about .act hr {
    height: 40px;
    border-color: #34535e;
}

.about .act span {
    color: var(--icons);
}